:root {
	--VS_editor_background: #1E1E1E;
	--VS_editor_foreground: #D4D4D4;
	--VS_editor_inactiveSelectionBackground: #3A3D41;
	--VS_editorIndentGuide_background: #404040;
	--VS_editorIndentGuide_activeBackground: #707070;
	--VS_editor_selectionHighlightBackground: #ADD6FF26;
	--VS_list_dropBackground: #383B3D;
	--VS_activityBarBadge_background: #007ACC;
	--VS_sideBarTitle_foreground: #BBBBBB;
	--VS_input_placeholderForeground: #A6A6A6;
	--VS_menu_background: #252526;
	--VS_menu_foreground: #CCCCCC;
	--VS_statusBarItem_remoteForeground: #FFF;
	--VS_statusBarItem_remoteBackground: #16825D;
	--VS_sideBarSectionHeader_background: #0000;
	--VS_sideBarSectionHeader_border: #ccc3;
	--VS_tab_lastPinnedBorder: #ccc3;
	--VS_meta_embedded: #D4D4D4;
	--VS_header: #000080;
	--VS_comment: #6A9955;
	--VS_constant_language: #569cd6;
	--VS_constant_numeric: #b5cea8;
	--VS_constant_regexp: #646695;
	--VS_entity_name_tag: #569cd6;
	--VS_entity_name_tag_css: #d7ba7d;
	--VS_entity_other_attribute-name: #9cdcfe;
	--VS_entity_other_attribute-name_class_css: #d7ba7d;
	--VS_invalid: #f44747;
	--VS_markup_bold: #569cd6;
	--VS_markup_heading: #569cd6;
	--VS_markup_inserted: #b5cea8;
	--VS_markup_deleted: #ce9178;
	--VS_markup_changed: #569cd6;
	--VS_punctuation_definition_quote_begin_markdown: #6A9955;
	--VS_punctuation_definition_list_begin_markdown: #6796e6;
	--VS_markup_inline_raw: #ce9178;
	--VS_punctuation_definition_tag: #808080;
	--VS_meta_preprocessor: #569cd6;
	--VS_meta_preprocessor_string: #ce9178;
	--VS_meta_preprocessor_numeric: #b5cea8;
	--VS_meta_structure_dictionary_key_python: #9cdcfe;
	--VS_meta_diff_header: #569cd6;
	--VS_storage: #569cd6;
	--VS_storage_type: #569cd6;
	--VS_storage_modifier: #569cd6;
	--VS_string: #ce9178;
	--VS_string_tag: #ce9178;
	--VS_string_value: #ce9178;
	--VS_string_regexp: #d16969;
	--VS_punctuation_definition_template-expression_begin: #569cd6;
	--VS_meta_template_expression: #d4d4d4;
	--VS_support_type_vendored_property-name: #9cdcfe;
	--VS_keyword: #569cd6;
	--VS_keyword_control: #569cd6;
	--VS_keyword_operator: #d4d4d4;
	--VS_keyword_operator_new: #569cd6;
	--VS_keyword_other_unit: #b5cea8;
	--VS_punctuation_section_embedded_begin_php: #569cd6;
	--VS_support_function_git-rebase: #9cdcfe;
	--VS_constant_sha_git-rebase: #b5cea8;
	--VS_storage_modifier_import_java: #d4d4d4;
	--VS_variable_language: #569cd6;
}
